// colors
$coral: #FD7E47;
$cararra: #ECEDE8;
$rolling-stone: #73777A;
$jungle-mist: #B5C9D4;
$amulet: #87A982;

// margins:
$base-margin: 10px;
$double-margin: 2 * $base-margin;
$triple-margin: 3 * $base-margin;
$half-margin: $base-margin / 2;
$third-margin: $base-margin / 3;