<div class="jumbotron">
    <h1>Angular Music</h1>

    <p>An AngularJS app showing how to connect with LastFM API</p>
</div>

<div class="row marketing">

    <div class="bs-callout bs-callout-danger">
        <alert ng-repeat="alert in messages" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div class="col-lg-12 page-form">
        <h2 class="page-form__title">Search for your LastFM username</h2>
        <form class="form-inline row" role="form">
            <div class="form-group col-md-10">
                <label class="sr-only" for="lastfmUsername">Your LastFM Username</label>
                <input type="text" ng-model="lastfmUsername" id="lastfmUsername" placeholder="Your LastFM Username" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <input type="submit" ng-click="findLastFmUser()" class="btn btn-default">
            </div>
        </form>
    </div>

    <section class="col-lg-12" ng-if="lastfmUser">
        <div class="row lastfm-user">
            <h2 class="lastfm-user__name">{{ lastfmUser.realname }}</h2>

            <div class="col-md-4 col-sm-12">
                <aside class="lastfm-user__stat">
                    <h3 class="lastfm-user__stat-title">Registered</h3>
                    <p class="lastfm-user__stat-description">{{ lastfmUser.registered.unixtime * 1000 | amCalendar }}</p>
                </aside>
            </div>

            <div class="col-md-4 col-sm-12">
                <aside class="lastfm-user__stat">
                    <h3 class="lastfm-user__stat-title">Play Count</h3>
                    <p class="lastfm-user__stat-description">{{ lastfmUser.playcount | thousandsToK }}</p>
                </aside>
            </div>

            <div class="col-md-4 col-sm-12">
                <aside class="lastfm-user__stat">
                    <h3 class="lastfm-user__stat-title">Playlists</h3>
                    <p class="lastfm-user__stat-description">{{ lastfmUser.playlists }}</p>
                </aside>
            </div>
        </div>
    </section>

    <section class="col-md-12" ng-if="lastfmTopAlbums">
        <div class="row top-albums">
            <h2 class="top-albums__title">Top Albums</h2>

            <div class="col-lg-4 col-md-6 col-sm-12 top-album" ng-repeat="album in lastfmTopAlbums">
                <a href="{{ album.url }}" title="View on Last.FM" target="_blank">
                    <figure class="top-album__container">
                        <img ng-src="{{ album.image[3]['#text'] }}" alt class="top-album__image">
                        <figcaption class="top-album__citation">
                            <h4 class="top-album__title">{{ album.name }}</h4>
                            <p class="top-album__artist">{{ album.artist.name }}</p>
                        </figcaption>
                    </figure>
                </a>
            </div>

        </div>
    </section>

</div>
